@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}
body{
 font-family: "Comfortaa", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
margin: 0;
padding: 0; 
}
a{
    text-decoration: none;
    color: #e8e8e8;
}

ul{
    list-style-type: none; 
  padding-left: 0;        
}

img{
    max-width: 100%;
}

header{
    color: rgb(238, 238, 238);
    height: 150px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #214A46;
    font-size: 1.5vw;
}
.logo{
    margin-left: 100px;
    width: 300px;
}
.nav_ico{
    
    width: 25px;
    margin-left: 5px;
}
.nav_bar{
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: center;
   cursor: pointer;
}

.ent{
    padding: 7px;
    border: 5px solid;
    border-color: #54E6D4;
    border-radius: 20px;
    margin-right: 100px;
    cursor: pointer;

}

.reg{
    color: #101516;
    padding: 7px;
    /* border: 5px solid; */
    background-color: #54E6D4;
    border-radius: 20px;
    margin-right: 50px;
    cursor: pointer;
}

main{
    display: flex;
    justify-content: space-around;
    background-color: #152322;
    /* padding: 200px; */
}
main p, h2, h1{
    color:#e8e8e8;
}
main h2{
    /* font-size: 4vw;
    margin-bottom: 10px; */
    font-size: clamp(24px, 4vw, 48px);
}
.main_container{
    
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.droper{
    border: 5px solid;
    max-width: 800px;
    padding: 80px 20px;
    width: 100%;
    /* padding: 150px 350px; */
    /* background-color: grey;
    border-radius: 10%;
    border-color: #007bff; */
    border: 2px dashed #54E6D4;
    background-color: #152322; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.droper_ico{
    width: 150px;
}
.droper_ico img{
    width: 100%;
   

}
.convert{
    display: none; 
}
.why_us_main{
    display: flex;
    
}
.task{
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
    border: 5px solid;
     border-color: #54E6D4;
     margin-right: 5px;
    margin-top: 20px;
    background-color: #101516;
    width: 210px;
    height: 555px;
     transform: skewX(-20deg); 
     align-content: end;
     z-index: 1;
     transition: transform 0.3s ease;    
}
.custom-upload { 
    padding: 30px; 
    background-color: #007bff; 
    color: #e8e8e8; 
    border-radius: 10px;
    cursor: pointer;
}
footer div{
    display: flex;
    justify-content: space-around;
   
  flex-direction: column;
}

.wum{
    font-size: clamp(24px, 4vw, 48px);
    
}
.tit{
    text-align: center;
    height: 0px;
    line-height: 200px;
   font-size: clamp(24px, 2vw, 48px);
   transform: rotate(-90deg);      
  transform-origin: left top;     
  white-space: nowrap;
      
}
.content{
    display: none;
}

.tasks{
   display: flex;       
    gap: 15px;
  flex-wrap: nowrap;   
  
}
  
footer{
    font-size: clamp(24px, 2vw, 48px);
    display: flex;
    background-color: #101516;
    color: #e8e8e8;
    justify-content: space-around;
}

.task:hover{
     flex-direction: column;
     border-color: #e654d5;
    
    width: 700px;
   justify-content: flex-start;
   
     transform: skewX(0deg); 
     z-index: 2;
}

.task:hover .tit{
   
  text-align: center;
   
    line-height: normal;
    font-size: clamp(24px, 2vw, 48px);
   transform: rotate(0deg);      
}


.task:hover .content{
    margin: 50px;
  display: block;
}